<div class="nested-fields">
  <div class="panel-cocoon">
      <div class="field_control">
        <span>Título da Questão</span>
        <%= f.input :question_title,
        as: :text,
        label: false,
        input_html: {
          rows: 3,
          cols: 60
        }
      %>
      </div>
      <div class="field_control">
        <span>Tipo da Questão</span>
        <%= f.input :question_type,
        required: true,
        collection: TemplateQuestion.question_type_to_select,
        prompt: "Select type",
        label: false %>
      </div>
      <div class="delete">
        <span class="button button-delete"><%= link_to_remove_association "EXCLUIR", f %></span>
      </div>
  </div>
</div>
