<div class="nested-fields">
  <%= f.label :question_title %> <br> Descrição pergunta
  <%= f.input :question_title %>
  <%= f.input :question_type %>
  <%= link_to_remove_association "excluir pergunta", f %>
</div>
