<div class="container">
  <div class="container-header">
    <span></span>
    <p>Template: <%= @template.name.upcase %></p>
  </div>
<hr>
  <h3>Questões cadastradas</h3>
  <% @questions.each do |question| %>
    <div class="question">
      <div>
        <strong>Título da Questão:</strong>
        <span><%= question.question_title %></span>
      </div>
      <div>
        <strong>Tipo: </strong>
        <span><%= question.question_type&.upcase %></span>
      </div>
      <div>
        <strong>Updated_at: </strong>
        <span><%= question.updated_at %></span>
      </div>
    </div>
  <% end %>
</div>





